<!DOCTYPE html>
<html>
  <head>
    <title>Not Verified</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Not Verified!</h1>
    <p>This certificate is not authentic</p>
  </body>
</html>
