<!DOCTYPE html>
<html>
  <head>
    <title>Verified!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Verified!</h1>
    <p>This certificate is authentic</p>
  </body>
</html>
